pkgbase = tsa
	pkgdesc = CLI tool for managing Tailscale devices and users
	pkgver = 0.1.1
	pkgrel = 1
	url = https://github.com/wmccracken/tsa
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = cargo
	depends = gcc-libs
	depends = openssl
	optdepends = tailscale: required for signing locked-out devices
	options = !debug
	options = !lto
	source = tsa-0.1.1.tar.gz::https://github.com/wmccracken/tsa/archive/refs/tags/v0.1.1.tar.gz
	sha256sums = 26e78c9a092498aaf86a3fb8b2ea14f849c4eb03420f7d10826f7f8d9c5668e3

pkgname = tsa
